{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="login-page-container">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 login-dialogue">
        <div class="row">
          <div class="col-xs-12 col-md-7">
          <h3>Contribute to Survey of London Whitechapel</h3>
          <hr>
          <p>This website is a collaboration between the Survey of London and you, the reading public.</p>
          <p>To start contributing your memories, research, images or media about Whitechapel's buildings and history, sign in, or, if you don't have an account yet, <a href="{{ signup_url }}">sign up here</a>.</p>
          </div>
        <div class="col-xs-12 col-md-5">
        <h3>Sign In</h3>

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        <div class="socialaccount_ballot">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          <hr />
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        {% endif %}

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {% load crispy_forms_tags %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          {% if last_feature %}
          <input type="hidden" name="next" value="/map/?last_feature={{ last_feature }}" />
          {% endif %}
          <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>
  </div>
  </div>
</div>

{% endblock %}
