{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="login-page-container">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 login-dialogue">
        <div class="row">
          <div class="col-xs-12 col-md-7">
          <h3>Contribute to Survey of London Whitechapel</h3>
          <hr>
          <p>To start contributing to Survey of London Whitechapel, sign in with Google or Facebook using the button on the right.</p>
          <p>If you'd rather have a separate account for Survey of London Whitechapel, you can <a href="{{ signup_url }}">sign up for one here</a>.</p>
          </div>
        <div class="col-xs-12 col-md-5">
        <h3>Sign In</h3>

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        <div class="socialaccount_ballot">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          <p class="text-center divider"><em>Or</em></p>
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        {% endif %}

        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {% load crispy_forms_tags %}
          {% load honeypot %}
          {% render_honeypot_field "phone_number" %}
          {{ form|crispy }}
          {{ next_edit }}
          {% if last_feature %}
          <input type="hidden" name="next" value="/map/?last_feature={{ last_feature }}" />
          {% elif next_edit %}
          <input type="hidden" name="next" value="{{ next_edit }}" />
          {% else %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{% url 'map_home' %}" />
          {% endif %}
          <a class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>
  </div>
  </div>
</div>

{% endblock %}
