{% extends 'map/base.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-2">
		</div>
		<div class="col-xs-12 col-md-7">
			<h1>Add Video or Audio About {% if feature.b_name %}{{ feature.b_name }}{% else %}{{ feature.address }}{% endif %}</h1>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
		</div>
		<form id="document_form" method="post" {% if media.id %} action="{% url 'edit_media' feature.id media.id %}" {% else %}  action="{% url 'add_media' feature.id %}" {% endif %} enctype="multipart/form-data">
			<div class="col-xs-12 col-md-7">
				{% load crispy_forms_tags %}
				{% csrf_token %}
				{{ form|crispy }}
			</div>
			<div class="col-md-3">
				<input type="submit" name="submit" value="Save" class="btn btn-default"/>
				<input type="submit" name="publish" value="Submit" class="btn btn-primary"/>
				
			</div>
		</form>
	</div>
</div>
{% load staticfiles %}
<script src="{% static 'js/ugc_functions.js' %}"></script>
{% endblock %}

{% block footer %}
<!--<footer class="footer navbar-fixed-bottom editor-help">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				
			</div>
		</div>
	</div>
</footer>-->
{% endblock %}