{% extends 'map/base.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-xs-12 col-md-7">
			<h1>Add a Story About {{ feature.b_name }}</h1>
			<hr />
			<form id="document_form" method="post" {% if document.id %} action="{% url 'edit_document' feature.id document.id %}" {% else %}  action="{% url 'add_document' feature.id %}" {% endif %}>
				{% load crispy_forms_tags %}
				{% csrf_token %}
				{{ form|crispy }}
				<input type="submit" name="submit" value="Save Draft" class="btn btn-default"/>
			</form>
		</div>
	</div>
</div>
{% load staticfiles %}
<script src="{% static 'js/ugc_functions.js' %}"></script>
{% endblock %}