{% extends 'map/base.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h2>Add an Image of {% if feature.b_name %}{{ feature.b_name }}{% else %}{{ feature.address }}{% endif %}</h2>
			<hr />
		</div>
	</div>
	<div class="row ugc-content-form-container">
		<form id="document_form" method="post" {% if image.id %} action="{% url 'edit_document' feature.id image.id %}" {% else %}  action="{% url 'add_image' feature.id %}" {% endif %} enctype="multipart/form-data">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				{% load crispy_forms_tags %}
				{% csrf_token %}
				{{ form|crispy }}
			</div>
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<input type="submit" name="submit" value="Save" class="btn btn-default"/>
				<button class="btn btn-primary are_you_sure">Submit</button>
			</div>

			<div class="modal fade" id="submit_confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h1>Have you finished editing?</h1>
						</div>
						<div class="modal-body">
			        		<p>Once you've submitted your content it will be passed to the Survey of London team for moderation and you won't be able to edit it again. Any images you submit to this site must either be yours, in the public domain, or uploaded with the permission of the copyright holder. See our <a href="#">Code of Conduct</a> for more information.</p>
			        		<p>If you'd like to continue editing, click the close button below. Otherwise, click 'Submit' if you're happy with your contribution.</p>
			      		</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<input type="submit" name="publish" value="Submit" class="btn btn-primary"/>
			    		</div>
			    	</div>
				</div>
			</div> <!-- / Submit Modal -->

		</form>
	</div>
</div>

<div class="editor-help">
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-default btn-sm toggle-help pull-right">Hide Help</button>
			<h3 class="text-center">Help</h3>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<h4>What We're Looking For</h4>
				<p>If you've got a photo, drawing, or painting of this building, either from now or as it was in the past, you can contribute it using this page.</p>
			</div>
			<div class="col-xs-12 col-md-4">
				<h4>How to Add an Image</h4>
				<p>Click the 'Browse' button above to select a file from your computer. Your image should be in .jpg, .png, or .gif format, and should be no larger than 1 megabyte in size.</p>
			</div>
			<div class="col-xs-12 col-md-4">
				<h4>Help People Find Your Image</h4>
				<p>Give your text a title and add one or two tags. For example, if your image is from a particular time, you could tag it '1960s'.</p>
			</div>
		</div>
	</div>
</div>

{% load staticfiles %}
<script src="{% static 'js/ugc_functions.js' %}"></script>
<link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>
{% endblock %}


{% block footer %}
{% endblock %}