{% extends 'map/base.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			<h2>Add Video or Audio About {% if feature.b_name %}{{ feature.b_name }}{% else %}{{ feature.address }}{% endif %}</h2>
			<hr />
		</div>
	</div>
	<div class="row ugc-content-form-container">
		<form id="document_form" method="post" {% if media.id %} action="{% url 'edit_media' feature.id media.id %}" {% else %}  action="{% url 'add_media' feature.id %}" {% endif %} enctype="multipart/form-data">
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				{% load crispy_forms_tags %}
				{% csrf_token %}
				{{ form|crispy }}
			</div>
			<div class="col-xs-12 col-md-8 col-md-offset-2">
				<input type="submit" name="submit" value="Save to Edit Later" class="btn btn-default"/>
				<button class="btn btn-primary are_you_sure">Submit to the Editors</button>
			</div>

			<div class="modal fade" id="submit_confirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h1>Have you finished editing?</h1>
						</div>
						<div class="modal-body">
			        		<p>Once you've submitted your content it will be passed to the Survey of London team for moderation and you won't be able to edit it again.</p>
			        		<p>If you'd like to continue editing, click the close button below. Otherwise, click 'Submit to the Editors' if you're happy with your contribution.</p>
			      		</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close and Continue Editing</button>
							<input type="submit" name="publish" value="Submit to the Editors" class="btn btn-primary"/>
			    		</div>
			    	</div>
				</div>
			</div> <!-- / Submit Modal -->

		</form>
	</div>
</div>
<div class="editor-help">
	<div class="row">
		<div class="col-xs-12">
			<button class="btn btn-default btn-sm toggle-help pull-right">Show Guide</button>
			<h3 class="text-center">Editor Guide</h3>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<h4>What We're Looking For</h4>
				<p>If you've found or uploaded a video or audio about this building or its history to YouTube, Vimeo, or SoundCloud, you can add it here.</p>
			</div>
			<div class="col-xs-12 col-md-4">
				<h4>Sources</h4>
				<p>If you know who made the media you've submitted, when and where it was published or broadcast, or who's in it, add this information in the 'Tell us about this' box.</p>
			</div>
			<div class="col-xs-12 col-md-4">
				<h4>How to Contribute Video or Audio</h4>
				<p>Paste the URL of the video or audio into the box above and it will be embedded automatically.</p>
			</div>
		</div>
	</div>
</div>
{% load staticfiles %}
<script src="{% static 'js/ugc_functions.js' %}"></script>
<link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all" rel="stylesheet" />
<link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js"></script>
<script type="text/javascript" src="/static/autocomplete_light/select2.js"></script>
{% endblock %}

{% block footer %}
{% endblock %}