<!DOCTYPE html>
<html>
	<head>
		<title>Survey of London {{ subtitle }}</title>
		<meta charset="UTF-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}">
		<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
		<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
		<!-- Mapbox -->
		<script>
			L_PREFER_CANVAS = true;
		</script>
		<script src='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.js'></script>
		<link href='https://api.mapbox.com/mapbox.js/v2.2.4/mapbox.css' rel='stylesheet' />
		<script type="text/javascript" src="{% static 'js/map_functions.js' %}"></script>
		<!-- Custom styles -->
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<!-- Medium Editor -->
		<!--<script src="{% static 'js/medium-editor/medium-editor.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/medium-editor/medium-editor.css' %}">
		<link rel="stylesheet" href="{% static 'css/medium-editor/themes/default.css' %}">-->



		<!-- Medium Editor and all its Associated Gubbins -->

		<!-- Font Awesome for awesome icons. You can redefine icons used in a plugin configuration -->
		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

		<!-- CSS -->
		<link rel="stylesheet" href="{% static 'bower_components/medium-editor/dist/css/medium-editor.min.css' %}">
		<link rel="stylesheet" href="{% static 'bower_components/medium-editor/dist/css/themes/default.css' %}">
		<link rel="stylesheet" href="{% static 'bower_components/medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.min.css' %}">

		<!-- JS -->
		<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
		<script src="{% static 'bower_components/medium-editor/dist/js/medium-editor.js' %}"></script>
		<script src="{% static 'bower_components/handlebars/handlebars.runtime.min.js' %}"></script>
		<script src="{% static 'bower_components/jquery-sortable/source/js/jquery-sortable-min.js' %}"></script>
		<script src="{% static 'bower_components/blueimp-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
		<script src="{% static 'bower_components/blueimp-file-upload/js/jquery.iframe-transport.js' %}"></script>
		<script src="{% static 'bower_components/blueimp-file-upload/js/jquery.fileupload.js' %}"></script>
		<script src="{% static 'bower_components/medium-editor-insert-plugin/dist/js/medium-editor-insert-plugin.min.js' %}"></script>





	</head>
	<body data-spy="scroll" data-target="#fixed-nav">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
			    <div class="navbar-header navbar-left">
      				<a class="navbar-brand" href="/">Survey of London</a>
    			</div>
    			<div class="collapse navbar-collapse">
	    			<form class="navbar-form navbar-right" role="search" action="{% url 'search_map' %}" type="get">
				        <div class="form-group">
				    	    <input type="text" class="form-control search-input" placeholder="Search Places" name="q">
				        </div>
				        <button type="submit" class="btn btn-default search">Submit</button>
			      	</form>
			      	<ul class="nav navbar-nav navbar-right">
	    				<li><a href="{% url 'map.views.home' %}">Map</a></li>
	    				{% if user.is_authenticated %}
	    				<li><a href="{% url 'user_overview' user.username %}"><span class="glyphicon glyphicon-user"></span></a></li>
	    				{% endif %}
	    			</ul>
	    		</div>
			</div>
		</nav>

		{% block content %}{% endblock %}
		{% block footer %}
		<footer class="footer">
			<!--<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12">
					</div>
				</div>
			</div>-->
		</footer>
		{% endblock %}
	</body>
</html>
