{% extends 'map/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2 content">
			<h1>All Contributions by {{ user.userprofile.display_name}}</h1>
			<hr />
			{% for feature in features %}
				<h2><a href="{% url 'detail' feature.id %}">{{ feature }}</a></h2>
				{% if feature.document_set.all|length > 0 %}
					<h3>Documents</h3>
					<ul class="list-unstyled doc_list">
					{% for document in feature.document_set.all %}
						{% if document.author == user %}
							<li><a href="{% url 'detail' document.feature.id %}#{{ document.title|slugify }}">{{ document.title }}</a><br />
								{{ document.body_processed|safe|truncatechars_html:140 }}
							</li>
						{% endif %}
					{% endfor %}
					</ul>
				{% endif %}
				{% if feature.image_set.all|length > 0 %}
					<h3>Images</h3>
					{% load thumbnail %}
					<div class="row">
					{% for image in feature.image_set.all %}
						{% if image.author == user %}
							<div class="col-md-4">
								<div class="item-card">
									<img src="{% thumbnail image.file 265x175 crop='0,0' %}" alt="{{ image.caption }}">
									<p>{{ image.caption }}</p>
								</div>
							</div>	
						{% endif %}
					{% endfor %}
					</div>
				{% endif %}
			<hr />
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}