{% extends 'map/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
		<h1>Dashboard</h1>
		<hr />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Statistics</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<h3>Top Contributors</h3>
			<canvas id="topContributorsChart" width="" height="200px"></canvas>
		</div>
		<div class="col-xs-12 col-md-6 row">
			<h3>Month by Month</h3>
			<canvas id="signupsChart" width="" height="200px"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>All Contributions</h3>
			<canvas id ="contributionsChart" width="" height="200px"></canvas>
		</div>
		<div class="col-xs-12 col-md-4">
			<h3>Contributions in the Last 30 Days</h3>
			<canvas id="recentContributionsChart" width="" height="200px"></canvas>
		</div>
		<div class="col-xs-12 col-md-4">
			<h3>Survey to User Ratio</h3>
			<canvas id="surveyUgcRatioChart" width="" height="200px"></canvas>
		</div>
	</div>
	<div class="row"> <!-- Pending Content -->
		<div class="col-xs-12">
			<hr />
			<h2>Pending Content</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Documents</h3>
			{% for document in documents %}
				{% if document.pending == True %}
					<h3><a href="{% url 'moderate_document' document.id %}">{{ document.title }}</a><br /><span class="small"><a href="{% url 'all_content_by_author' document.author.id %}">{% if document.author.userprofile.display_name %}{{ document.author.userprofile.display_name }}{% else %}{{ document.author }}{% endif %}</a> | {{ document.feature }}<br />Submitted {{ document.last_edited }}</span></h3>
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-xs-12 col-md-4">
			<h3>Images</h3>
			{% load thumbnail %}
			{% for image in images %}
				{% if image.pending == True %}
					<div class="media">
						<div class="media-left">
							<a href="{% url 'detail' image.feature.id %}#images"><img src="{% thumbnail image.file 64x64 crop='0,0' %}" class="img-rounded"></a>
						</div>
						<div class="media-body">
							<h4 class="media-heading"><a href="{% url 'moderate_image' image.id %}">{{ image.feature }}</a><br /><span class="text-muted">{{ image.title }}</span></h4>
							<span class="small"><a href="{% url 'all_content_by_author' image.author.id %}">{% if image.author.userprofile.display_name %}{{ image.author.userprofile.display_name }}{% else %}{{ image.author }}{% endif %}</a> | {{ image.last_edited }}</span>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-xs-12 col-md-4">
			<h3>Media</h3>
			{% for item in media %}
				{% if item.pending == True %}
					<h3><a href="{% url 'moderate_media' item.id %}">{{ item.title }}</a><br /><span class="small"><a href="{% url 'all_content_by_author' item.author.id %}">{% if item.author.userprofile.display_name %}{{ item.author.userprofile.display_name }}{% else %}{{ item.author }}{% endif %}</a> | {{ item.feature }}<br />Submitted {{ item.last_edited }}</span></h3>
				{% endif %}
			{% endfor %}
		</div>
	</div><!-- / Pending content -->

	<div class="row"> <!-- Unsubmitted Drafts -->
		<div class="col-xs-12">
			<hr />
			<h2>Unsubmitted Drafts</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h3>Documents</h3>
			{% for document in documents %}
				{% if document.pending == False and document.published == False %}
					<h3><a href="{% url 'moderate_document' document.id %}">{{ document.title }}</a><br /><span class="small"><a href="{% url 'all_content_by_author' document.author.id %}">{% if document.author.userprofile.display_name %}{{ document.author.userprofile.display_name }}{% else %}{{ document.author }}{% endif %}</a> | {{ document.feature }}<br />Submitted {{ document.last_edited }}</span></h3>
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-xs-12 col-md-4">
			<h3>Images</h3>
			{% for image in images %}
				{% if image.pending == False and image.published == False %}
				<div class="media">
					<div class="media-left">
						<a href="{% url 'detail' image.feature.id %}#images"><img src="{% thumbnail image.file 64x64 crop='0,0' %}" class="img-rounded"></a>
					</div>
					<div class="media-body">
						<h4 class="media-heading"><a href="{% url 'moderate_image' image.id %}">{{ image.feature }}</a><br /><span class="text-muted">{{ image.title }}</span></h4>
						<span class="small"><a href="{% url 'all_content_by_author' image.author.id %}">{% if image.author.userprofile.display_name %}{{ image.author.userprofile.display_name }}{% else %}{{ image.author }}{% endif %}</a> | {{ image.last_edited }}</span>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-xs-12 col-md-4">
			<h3>Media</h3>
			{% for item in media %}
				{% if item.pending == False and item.published == False %}
					<h3><a href="{% url 'moderate_media' item.id %}">{{ item.title }}</a><br /><span class="small"><a href="{% url 'all_content_by_author' item.author.id %}">{% if item.author.userprofile.display_name %}{{ item.author.userprofile.display_name }}{% else %}{{ item.author }}{% endif %}</a> | {{ item.feature }}<br />Submitted {{ item.last_edited }}</span></h3>
				{% endif %}
			{% endfor %}
		</div>
	</div><!-- / Pending content -->
</div>

<script>
	
	var topContributorsCtx = $("#topContributorsChart");
	var topContributorsData =[{% for user in users|dictsortreversed:'contributions'|slice:':10' %}{{ user.contributions }}, {% endfor %}];
	var topContributorsLabels = [{% for user in users|dictsortreversed:'contributions'|slice:':10' %}'{{ user }}', {% endfor %}];

	var topContributorsChart = new Chart(topContributorsCtx, {
	    type: 'bar',
	    data: {
	        labels: topContributorsLabels,
	        datasets: [{
	            label: 'Contributions',
	            data: topContributorsData,
	            backgroundColor: [
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	            ],
	            borderColor: [
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(54, 162, 235, 1)',
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        responsive: true,
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                }
	            }]
	        }
	    }
	});


	var contributionsCtx = $('#contributionsChart');
	var contributionsData =[{{ documents|length }}, {{ images|length }}, {{ media|length }}];
	var contributionsLabels = ['Documents', 'Images', 'Media'];

	var contributionsChart = new Chart(contributionsCtx, {
	    type: 'pie',
	    data: {
	        labels: contributionsLabels,
	        datasets: [{
	            data: contributionsData,
	            backgroundColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)'
	            ],
	            borderColor: [
	                'rgba(255,99,132,1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        responsive: true,
	    }
	});

	var recentContributionsCtx = $('#recentContributionsChart');
	var recentContributionsData =[{{ documents|length }}, {{ images|length }}, {{ media|length }}];
	var recentContributionsLabels = ['Documents', 'Images', 'Media'];

	var recentContributionsChart = new Chart(recentContributionsCtx, {
	    type: 'pie',
	    data: {
	        labels: recentContributionsLabels,
	        datasets: [{
	            data: recentContributionsData,
	            backgroundColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)'
	            ],
	            borderColor: [
	                'rgba(255,99,132,1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        responsive: true,
	    }
	});

	var surveyUgcRatioCtx = $('#surveyUgcRatioChart');
	var surveyUgcRatioData = [{{ total_ugc }}, {{ total_survey }}];
	var surveyUgcRatioLabels = ['Contributors', 'Survey of London']

	var surveyUgcRatioChart = new Chart(surveyUgcRatioCtx, {
		type: 'pie',
		data: {
			labels: surveyUgcRatioLabels,
			datasets: [{
				data: surveyUgcRatioData,
				backgroundColor: [
					'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
				],
				borderColor: [
	                'rgba(255,99,132,1)',
	                'rgba(54, 162, 235, 1)',
	            ],
	            borderWidth: 1
			}]
		},
		options: {
			responsive: true,
		}
	});

	var signupsCtx = $('#signupsChart');
	var signupsData = [{% for month in previous_months %}{{ month.users }}, {% endfor %}];
	var signupsLabels = [{% for month in previous_months %}'{{ month.month }}', {% endfor %}];
	var documentsData = [{% for month in previous_months %}{{ month.documents }}, {% endfor %}];
	var imagesData = [{% for month in previous_months %}{{ month.images }}, {% endfor %}];
	var mediaData = [{% for month in previous_months %}{{ month.media }}, {% endfor %}];


/*borderColor: [
	                'rgba(255,99,132,1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',*/


	var signupsChart = new Chart(signupsCtx, {
		type: 'line',
		data: {
			labels: signupsLabels,
			datasets: [{
				fill: false,
				label: 'Signups',
				data: signupsData,
				backgroundColor: [
					'rgba(255,99,132,1)',
				],
				borderColor: [
					'rgba(255,99,132,1)',
				]
			},
			{
				fill: false,
				label: 'Documents',
				data: documentsData,
				backgroundColor: [
					'rgba(54, 162, 235, 1)',
				],
				borderColor: [
					'rgba(54, 162, 235, 1)',
				]
			},
			{
				fill: false,
				label: 'Images',
				data: imagesData,
				backgroundColor: [
					'rgba(255, 206, 86, 1)',
				],
				borderColor: [
					'rgba(255, 206, 86, 1)',
				]
			},
			{
				fill: false,
				label: 'Media',
				data: mediaData,
				backgroundColor: [
					'rgba(255, 159, 64, 1)'
				],
				borderColor: [
					'rgba(255, 159, 64, 1)'
				]
			},	
		]},
		options: {
			responsive: true,
		}
	});



</script>

{% endblock %}
