{% extends 'map/base.html' %}

{% block content %}
<div id="small_map"></div>
<div class="container">
	<div class="row">
		<div class="col-xs-3" id="fixed-nav">
			<ul data-spy="affix" data-offset-top="300" data-offset-bottom="0" class="nav nav-stacked">
				{% for document in documents %}
					<li><a href="#{{ document.start_year }}">{{ document.start_year }} - {{ document.end_year }}<br /><span class="small">{{ document.title }}</span></a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-xs-7 feature-detail">
			{% if feature.name %}
			<h1>{{ feature.name }}</h1>
			<h2><small>{{ feature.address }}</small></h2>
			{% else %}
			<h1>{{ feature.address }}</h1>
			{% endif %}

			{% if not documents %}
			<h3>Apologies!</h3>
			<p>We don't have any information about this building</p>
			{% endif %}


			{% for document in documents %}
			<div>
				<span id="{{ document.start_year }}" class="detail_anchor"></span>
				<h2>{{ document.title }}</h2>
				{{ document.body|safe }}
			</div>
			{% endfor %}

			{% for story in stories %}

			<h2>{{ story.title }}</h2>
			<h4>{{ story.author }}</h3>
			{{ story.body|safe }}

			{% endfor %}


		</div>
	</div>
</div>



<script>
	{% load geojson_tags %}
	feature_geojson = {{ feature|geojsonfeature:"osm_id,count,address"|safe }}

	var myStyle = {
		"color": "#2262cc",
		"weight": 1,
		"opacity": 0.8,
		"fillOpacity": 0.8,
	};

	var oslayer = L.tileLayer('http://dev.local/tileserver.php?/index.json?/OS_OpenMap_Local_Whitechapel_Crop_Sketchy/{z}/{x}/{y}.png');

	var feature = L.geoJson(feature_geojson, {
		style: myStyle
	});

	var centre = feature.getBounds().getCenter();

	var map = L.map('small_map', {
		center: centre,
		zoom: 17,
		zoomControl: false,
		layers: [oslayer, feature],
	});

	map.dragging.disable();
	map.touchZoom.disable();
	map.doubleClickZoom.disable();
	map.scrollWheelZoom.disable();
	map.keyboard.disable();


</script>

{% endblock %}