<button type="button" class="btn btn-default btn-sm pull-right closeThis" aria-label="Left Align">
  <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span>
</button>

<h4>{{ feature.address }}</h4>

{% if not documents %}
<h3>Apologies!</h3>
<p>We don't have any information about this building</p>
{% endif %}

<h5>{{ documents.0.title }}</h5>
{{ documents.0.body|truncatewords:120|safe }}

<br /><br />

{% if feature.neighbourhood %}
	{% if stories %}
		<h4>Stories About This Neighbourhood | {{ feature.neighbourhood }}</h4>
		{% for story in stories %}

			{{ story.title }}

		{% endfor %}

	{% endif %}
{% endif %}

<br /><br />
{% if documents %}
<a href="{% url 'detail' feature.id %}" class="btn btn-default btn-sm more">Read more</a>
{% endif %}

<script>
	$('.closeThis').click(function() {
		$('.infobox-control').hide();
		resetColours(buildings);
	});

	$('.more').click(function() {
		//		
	})

</script>