<a href="#" class="date_btn btn btn-default btn-sm">{{ feature.year_built }}</a>
<a href="#" class="street_btn btn btn-default btn-sm">Zoom to {{ feature.street }}</a>
<a href="#" class="all_btn btn btn-default btn-sm">Show All Buildings</a>

<script>
	$('.closeThis').click(function() {
		$('.infobox-control').hide();
		resetColours(buildings);
	});

	$('.more').click(function() {
		//		
	});

	$('.date_btn').click(function() {
		var jsonUrl = "{% url 'features_by_date_range' build_range.lower build_range.upper %}";
		loadFeatures(jsonUrl);
	});

	$('.street_btn').click(function() {
		var jsonUrl = "{% url 'features_by_street_name' feature.street %}";
		loadFeatures(jsonUrl);
	});

	$('.all_btn').click(function() {
		var jsonUrl = 'api/features/';
		loadFeatures(jsonUrl);
		$('.infobox-control').hide();
	});
</script>