{% extends 'map/base.html' %}
{% block content %}
<div id="" class="map-small" style="background: url('/media/SoL-Whitechapel100403-cropped.jpg'); background-size: cover; background-position: center;" class="hidden-sm hidden-xs">
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2 content">
			<h1>This Page is Currently Unavailable</h1>
			<p class="lead"><strong>Due to essential work at UCL, the site is currently in 'maintenance mode' until 18th December, and is not currently accepting submissions. If you have a submission to make, please email it to the editors at solwhitechapel.bartlett@ucl.ac.uk.</strong></p>
			<br /><br /><br /><br />
		</div>
	</div>
</div>
{% endblock %}