{% extends 'map/base.html' %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2">
			{% if request.user == user %}
				<h1>Your Contributions</h1>
				<ul class="nav nav-pills" role="tablist" id="contentTabs">
					<li role="presentation" class="active"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">In Moderation</a></li>
					<li role="presentation"><a href="#drafts" aria-controls="drafts" role="tab" data-toggle="tab">Drafts</a></li>
					<li role="presentation"><a href="#published" aria-controls="published" role="tab" data-toggle="tab">Research and Memories</a></li>
					<li role="presentation"><a href="#images" aria-controls="images" role="tab" data-toggle="tab">Images</a></li>
					<li role="presentation"><a href="#media" aria-controls="media" role="tab" data-toggle="tab">Media</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="pending">
						<h3 class="text-muted">You'll be notified by email as soon as these have been published on the site.</h3>
						{% if not pending_docs and not pending_images and not pending_media %}
							<p>You don't have any pending submissions.</p>
						{% else %}
						{% if pending_docs %}
							<h2>Research and Memories</h2>
								{% for doc in pending_docs %}
									<h3>{{ doc.title }}<br /><span class="small"><a href="{% url 'detail' doc.feature.id %}">{{ doc.feature }}</a> | Submitted {{ doc.created }}</span></h3>
									<p class="results-preview">{{ doc.body|safe|truncatewords_html:40|striptags }}</p>
								{% endfor %}
							{% endif %}
						<hr />
						{% endif %}
						{% if pending_images %}
							{% load thumbnail %}
							<h2>Images</h2>
							{% for image in pending_images %}
							<div class="media">
								<div class="media-left">
									<img src="{% thumbnail image.file 64x64 crop='0,0' %}" class="img-rounded">
								</div>
								<div class="media-body">
									<h3 class="media-heading">{{ image.title }}</h3>
									<h4 class="small"><a href="{% url 'detail' image.feature.id %}">{{ image.feature }}</a> | Submitted {{ image.created }}
									{% if image.description %}
										<p class="results-preview">{{ image.description|truncatechars:140 }}</p>
									{% endif %}
								</div>
							</div>
							{% endfor %}
							<hr />
						{% endif %}
						{% if pending_media %}
						<h3>Audio and Video</h3>
						{% load embed_video_tags %}
						{% for item in pending_media %}
							{% video item.object.url 'small' %}
							<h3>{{ item.title }}</h3>
							<h4 class="small"><a href="{% url 'detail' item.feature.id %}">{{ item.feature }}</a> | Submitted {{ item.created }}</h4>
							{% if item.description %}<p class="results-preview">{{ item.description|truncatechars:140 }}</p>{% endif %}
							{% for tag in item.object.tags.all %}
								{% if query in tag.name or query|capfirst in tag.name %}<a href="{% url 'tag' tag %}" class="btn btn-default btn-xs tag">{{ tag }}</a> {% endif %}
							{% endfor %}
						{% endfor %}
						{% endif %}
					</div>
					<div role="tabpanel" class="tab-pane" id="drafts">
						{% if not draft_docs %}
							<h3 class="text-muted">You don't have any drafts.</h3>
						{% else %}
							{% for doc in draft_docs %}
								<h3><a href="{% url 'edit_document' doc.feature.id doc.id %}">{{ doc.title }}</a><br /><span class="small">{{ doc.feature }} | Last edited {{ doc.last_edited }}</span></h3>
								<p class="results-preview">{{ doc.body|safe|truncatewords_html:40|striptags }}</p>
							{% endfor %}
						{% endif %}
					</div>
					<div role="tabpanel" class="tab-pane" id="published">
						{% if not published_docs %}
							<h3 class="text-muted">You don't have any published documents yet.</h3>
						{% else %}
							{% for doc in published_docs %}
								<h3><a href="{% url 'detail' doc.feature.id %}#{{ doc.title|slugify }}">{{ doc.title }}</a><br /><span class="small"><a href="{% url 'detail' doc.feature.id %}">{{ doc.feature }}</a> | Published {{ doc.last_edited }}</span></h3>
								<p class="results-preview">{{ doc.body|safe|truncatewords_html:40|striptags }}</p>
							{% endfor %}
						{% endif %}
					</div>
					<div role="tabpanel" class="tab-pane" id="images">
						{% if not published_images %}
							<h3 class="text-muted">You don't have any published images yet.</h3>
						{% else %}
						<br />
						{% for image in published_images %}
						<div class="media">
							<div class="media-left">
								<a href="{% url 'detail' image.feature.id %}#images"><img src="{% thumbnail image.file 64x64 crop='0,0' %}" class="img-rounded"></a>
							</div>
							<div class="media-body">
								<h3 class="media-heading"><a href="{% url 'detail' image.feature.id %}#images">{{ image.title }}</a></h3>
								<h4 class="small"><a href="{% url 'detail' image.feature.id %}">{{ image.feature }}</a> | Submitted {{ image.created }}
								{% if image.description %}
									<p class="results-preview">{{ image.description|truncatechars:140 }}</p>
								{% endif %}
							</div>
						</div>
						{% endfor %}
						{% endif %}
					</div>
					<div role="tabpanel" class="tab-pane" id="media">
						{% if not published_media %}
							<h3 class="text-muted">You don't have any published audio or video yet.</h3>
						{% else %}
						{% load embed_video_tags %}
						{% for item in published_media %}
							{% video item.object.url 'small' %}
							<h3><a href="{% url 'detail' item.feature.id %}#media">{{ item.title }}</a></h3>
							<h4 class="small"><a href="{% url 'detail' item.feature.id %}">{{ item.feature }}</a> | Submitted {{ item.created }}</h4>
							{% if item.description %}<p class="results-preview">{{ item.description|truncatechars:140 }}</p>{% endif %}
							{% for tag in item.object.tags.all %}
								{% if query in tag.name or query|capfirst in tag.name %}<a href="{% url 'tag' tag %}" class="btn btn-default btn-xs tag">{{ tag }}</a> {% endif %}
							{% endfor %}
							<hr />
						{% endfor %}
						{% endif %}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}