{% extends 'map/base.html' %}
{% load thumbnail %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			{% block title_block %}
			{% endblock %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8 content">

		{% block posts %}
		{% endblock %}

		</div>
		<div class="col-xs-12 col-md-4 sidebar">
			<h3>Categories</h3>
			<ul class="list-unstyled">
				{% for category in blog_category_links %}
				<li><a href="{% url 'posts_by_category' category.slug %}">{{ category }}</a></li>
				{% endfor %}
			</ul>
			<h3>Archive</h3>
			{% regroup blog_post_list by date_published|date:'Y' as posts_by_year %}
			<ul class="list-unstyled">
			{% for year in posts_by_year %}
				<li><a href="{% url 'posts_by_year' year.grouper %}">{{ year.grouper }}</a></li>
			{% endfor %}
			</ul>
			<h3>Contributors</h3>
			{% regroup blog_post_list by author as posts_by_author %}
			<ul class="list-unstyled">
			{% for author in posts_by_author %}
				<li><a href="{% url 'posts_by_author' author.grouper.id %}">{% if author.grouper.userprofile.display_name %}{{ author.grouper.userprofile.display_name }}{% else %}{{ author.grouper }}{% endif %}</a></li>
			{% endfor %}
			</ul>
			<hr />
			<h3>Latest Map Contributions</h3>
			{% for item in latest_map_contributions|slice:":4" %}
			{% if item.created != None %}
				{% if item.file %}
				<div class="media">
					<div class="media-left">
						<a href="{% url 'detail' item.feature.id %}#images"><img src="{% thumbnail item.file 64x64 crop='0,0' %}" class="img-rounded"></a>
					</div>
					<div class="media-body">
						<h3 class="media-heading"><a href="{% url 'detail' item.feature.id %}#{{ item.document_type }}">{{ item.title }}</a></h3>
						<h4 class="small"><a href="{% url 'detail' item.feature.id %}">{{ item.feature }}</a> | <a href="{% url 'all_content_by_author' item.author.id %}">{% if item.author.userprofile.display_name %}{{ item.author.userprofile.display_name }}{% else %}{{ item.author }}{% endif %}</a> | {{ item.created }}</h4>
						<p class="results-preview">{{ item.description|truncatewords_html:20|striptags }}</p>
					</div>
				</div>
				{% else %}
				<div>
					<h3><a href="{% url 'detail' item.feature.id %}#{{ item.document_type }}">{{ item.title }}</a></h3>
					<h4 class="small"><a href="{% url 'detail' item.feature.id %}">{{ item.feature }}</a> | <a href="{% url 'all_content_by_author' item.author.id %}">{% if item.author.userprofile.display_name %}{{ item.author.userprofile.display_name }}{% else %}{{ item.author }}{% endif %}</a> | {{ item.created }}</h4>
					{% if item.body_processed %}
					<p class="results-preview">{{ item.body_processed|truncatewords_html:20|striptags }}</p>
					{% elif item.description %}
					<p class="results-preview">{{ item.description|truncatewords_html:20|striptags }}</p>
					{% endif %}
				</div>
				{% endif %}		
			{% endif %}
			{% endfor %}
			<hr />
			<h3>Survey of London on Twitter</h3>
			<a class="twitter-timeline" data-height="400" href="https://twitter.com/SurveyofLondon">Tweets by SurveyofLondon</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

		</div>
	</div>
</div>

{% endblock %}