{% extends 'whitechapel_blog/blog_base.html' %}

{% block title_block %}
			| All Posts From {{ year }}
{% endblock %}

{% block posts %}


			{% for post in posts %}
			{% include 'whitechapel_blog/post.html' %}
			<hr />
			{% endfor %}
	        <nav aria-label="page navigation">
	            <ul class="pager">
	                {% if posts.has_previous %}
	                    <li class="previous"><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
	                {% else %}
	                	<li class="previous disabled"><a href="#">Previous</a></li>
	                {% endif %}
	                	Page {{ posts.number }} of {{ posts.paginator.num_pages }}
	                {% if posts.has_next %}
	                    <li class="next"><a href="?page={{ posts.next_page_number }}">Next</a></li>
	                {% else %}
	                	<li class="next disabled"><a href="#">Next</a></li>
	                {% endif %}
	            </span>
	        </nav>

{% endblock %}