body {
    margin: 0;
    padding: 50px 0 0 0;
    position: relative;
    font-family: Georgia;
}
p, .infobox-control p {
	font-family: Georgia;
	font-size: 21px;
	line-height: 33px;
	margin-bottom: 43px;
}
.content li {
	font-size: 21px;
	line-height: 33px;
}
ul {
	font-family: Georgia;
}
h1, h2, h3, h4 {
	font-family: Georgia;
}
.leaflet-container li {
	font-size: 15px;
	line-height: 20px;
}
html, body, #map {
    height: 100%;
}

#map {
	padding-top: 4em;
}

#small_map {
	height: 300px;
	border-bottom: 1px solid #e7e7e7;
}

.infobox-control {
	width: 300px;
	min-height: 20px;
	background-color: white;
	display: block;
	box-shadow: 0px 1px 5px #404040;
	padding: 0px 0px 5px 0px;
	display: none;
	background-image: url('../img/ajax-loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}

.infobox-control p {
	padding: 0 5px;
	margin-bottom: 0px;
}

.close-this {
	position: absolute;
	top: 5px;
	right: 5px;
}

.feature-legend {
	display: none;
	position: absolute;
	padding-left: 38px;
	bottom: 0;
	width: 400px;
}

.feature-legend .btn, .show-buildings .btn {
	border: 1px solid #999;
	line-height: 1.3;
}

.infobox-control img {
	width: 100%;
}

.titlebox-control {
	background-color: white;
	border-radius: 3px;
	color: rgba(0,0,0,.75);
	border: 1px solid #999;
	vertical-align: middle;
	padding: 5px 10px 5px 10px;
	display: none;
}

.leaflet-control-attribution {
	font-size: 8px;
	line-height: 10px;
}

.detail_anchor {
	display: block;
	position: relative;
	top: -70px;
	visibility: hidden;
}
.feature-attachments-list {
	padding-left: 0;
	overflow: auto;
}
.feature-attachments-list li {
	width: 25%;
	list-style-type: none;
	float: left;
	border: 1px solid white;
	text-align: center;
}
.bigicon {
	font-size: 28px;
}
.affix {
	top: 60px;
}
.affix-top {
	margin-top: 15px;
}

@media (min-width: 992px) {
	.affix {
		width: 25%;
	}
}

@media (min-width: 1200px) {
	.affix {
		width: 16%;
		padding-right: 25px;
	}
}

#fixed-nav .active {
    font-size: 21px;
    margin-left: 10px;
    border-left: 2px solid #337ab7;
}
#fixed-nav li {
	font-size: 14px;
}
.nav > li a:hover {
	background-color: white;
}
.feature-overview {
	background-color: white;
	/* min-height: 300px; */
	display: block;
}
.feature-detail img {
	max-width: 100%;
	height: auto;
}
.featured-content .col-xs-12 > div {
	background-color: #f8f8f8; 
	box-shadow: 0px 1px 5px #909090;
}.featured-content .col-xs-12 > div p {
	font-size: 18px;
	padding: 5px;
	line-height: 22px;
	min-height: 3.5em;
}
.featured-content .col-xs-12 > div img {
	width:100%;
}
.themed-content .col-xs-12 > div {
	background-color: #f8f8f8; 
	box-shadow: 0px 1px 5px #909090;
}
.themed-content .col-xs-12 > div img {
	width:100%;
}
.themed-content .col-xs-12 > div p {
	padding: 5px;
}
.jumbotron {
	color: white;
	height: 550px;
	background-size: cover;
	background-position: center;
	padding-top: 150px;
	border-bottom: 1px solid #e7e7e7;
}
.jumbotron h1, .jumbotron h2 {
	text-shadow: 0px 1px 5px #404040;
}
.jumbotron .btn {
	box-shadow:  0px 1px 5px #404040;
}
footer {
	background-color: #f8f8f8;
	height: 200px;
}
.tag {
	margin-bottom: 3px;
}
form#document_form .form-control {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	font-size: 21px;
}

form#document_form {
	margin-bottom: 50px;
}

form#document_form #id_title {
	font-size: 30px;
	height: 45px;
}

form#document_form label {
	font-size: 30px;
	font-weight: normal;
}