{% extends 'map/base.html' %}

{% block content %}

<div class="jumbotron" style="background-image: url('/media/{{ page.banner_image }}');">
	<div class="container">
		<h1 class="text-center">{{ title }}</h1>
		<h2 class="text-center">{{ page.title }} | Draft</h2>
		<br />
		<div class="text-center">
			<a href="{% url 'map_home' %}" class="btn btn-primary btn-lg">Explore the Map</a>
		</div>
	</div>
</div>

<div class="container">
	<div class="row"><!-- Front Page Text -->
		<div class="col-xs-12">
			<div class="front-page-about">
				{{ page.body|safe }}
			</div>
		</div>
	</div><!-- / Front Page Text -->

	<div class="row"><!-- Featured Content and Latest Images -->
		<div class="col-xs-12 col-md-8"><!-- Featured Contributions -->
			<h1 class="front-page-heading">Featured Contributions</h1>
			<div class="row">
				{% for document in page.documents.all %}
				{% if document.published == True %}
				<div class="{% cycle 'col-xs-12' 'col-xs-12 col-md-6' 'col-xs-12 col-md-6' %}">
					<h3><a href="{% url 'detail' document.feature.id %}#{{ document.document_type }}?{{ document.title|slugify }}">{{ document.title }}</a><br /><span class="small"><a href="{% url 'all_content_by_author' document.author.id %}">{{ document.author.userprofile.display_name }}</a> | {{ document.feature }} | Submitted {{ document.last_edited }}</span></h3>
					{{ document.body|safe|truncatewords_html:40 }}
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div><!-- / Featured Contributions -->
		
		{% if page.images %}
		<div class="col-xs-12 col-md-4"><!-- Featured Images -->
			<h1 class="front-page-heading">Featured Images</h1>
			{% load thumbnail %}
			{% for image in page.images.all %}
			<a href="{% url 'detail' image.feature.id %}#images"><img src="{% thumbnail image.file 400x225 crop='0,0' %}" class="img-rounded" style="width: 100%;"></a>
			<h3><span class="text-muted"><a href="{% url 'detail' image.feature.id %}#images">{{ image.title }}</a></span><br />
			<span class="small"><a href="{% url 'all_content_by_author' image.author.id %}">{% if image.author.userprofile.display_name %}{{ image.author.userprofile.display_name }}{% else %}{{ image.author }}{% endif %}</a> | {{ image.feature }} | {{ image.created }}</span></h3>
 		{% endfor %}
		</div>
		{% endif %}

		<div class="col-xs-12 col-md-4"><!-- Latest Images -->
			<h1 class="front-page-heading">Latest Images</h1>
			{% for image in images %}
			<div class="media">
				<div class="media-left">
					<a href="{% url 'detail' image.feature.id %}#images"><img src="{% thumbnail image.file 64x64 crop='0,0' %}" class="img-rounded"></a>
				</div>
				<div class="media-body">
					<h4 class="media-heading"><a href="{% url 'detail' image.feature.id %}#images">{{ image.feature }}</a><br /><span class="text-muted">{{ image.title }}</span></h4>
					<span class="small"><a href="{% url 'all_content_by_author' image.author.id %}">{% if image.author.userprofile.display_name %}{{ image.author.userprofile.display_name }}{% else %}{{ image.author }}{% endif %}</a> | {{ image.created }}</span>
				</div>
			</div>
			{% endfor %}
		</div><!-- / Latest Images -->
	</div><!-- / Featured Content and Latest Images -->

	<div class="row front-page-media"><!-- Featured Media -->
		<div class="col-xs-12">
			<h1 class="front-page-heading">Video and Audio</h1>
		</div>
		{% load embed_video_tags %}
		<div class="row">
			{% for embed in page.media.all %}
			<div class="col-xs-12 col-md-6">
				<div class="col-xs-12 col-md-4">
					<h3>{{ embed.title }}</h3>
					<div>{{ embed.description|safe }}</div>
				</div>
				<div class="col-xs-12 col-md-8">
					<div class="embed-responsive embed-responsive-4by3">
						{% video embed.url 'large' %}
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	{% if categories %}
	<div class="row"><!-- Themes / Routes / Tours -->
		<div class="col-xs-12">
			<h1 class="front-page-heading">Explore Whitechapel</h1>
			<br />
		</div>
	</div>
	
	<div class="row themed-content">
		{% for category in categories %}
		{% if category.feature_set.all %}
		<div class="col-xs-12 col-md-4">
			<div>
				<a href="{% url 'map.views.category' category.id %}"><img src="{% thumbnail category.thumbnail 360x204 %}"></a>
				<p><a href="{% url 'map.views.category' category.id %}">{{ category.name }}</a></p>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div><!-- / Themed Content -->
	{% endif %}
</div><!-- / Container -->

{% endblock %}

