{% extends 'map/base.html' %}

{% block json-ld %}
<!-- Schema Metadata -->
<script type="application/ld+json">	
{
	"@context": "http://schema.org",
	"@type": "WebSite",
	"url": "https://surveyoflondon.org/",
	"author": {
		"@context": "http://schema.org",
		"@type": "EducationalOrganization",
		"name": "Survey of London",
		"address": {
			"@context": "http://schema.org",
			"@type": "PostalAddress",
			"addressCountry": "United Kingdom",
			"addressLocality": "London",
			"postalCode": "EC1N 2ST",
			"streetAddress": "Survey of London, c/o Historic England, 1 Waterhouse Square, 138-142 Holborn"
		}
	},
	"about": {
		"@context": "http://schema.org",
		"@type": "Place",
		"name": "Whitechapel"
	},
	"description": "The Survey of London’s Whitechapel project, where you can share and explore the many histories of Whitechapel’s buildings and places."
}
</script>
{% endblock %}

{% block content %}

<div class="jumbotron whitechapel_front_page">
	
	<style>
		.front-page-banner {
			height: 500px;
			width: 100%;
			position: absolute;
			top: 0;
			overflow: hidden;
			display: block;
			z-index: 1;
		}
	</style>
	<div class="container" style="position: relative; z-index: 2;">
		<h1 class="text-center">{{ title }}</h1>
		<h2 class="text-center">Histories of Whitechapel</h2>
		<br />
		<div class="text-center">
			<a href="{% url 'map_home' %}" class="btn btn-lg explore">Explore the Map</a>
		</div>
	</div>
	<div class="front-page-banner">
		{% if page.banner_image_1 %}
		<div style="background-image: url('/media/{{ page.banner_image_1 }}'); background-size: cover; display: block; width: 100%; height: 600px; background-position: center center;'"></div>
		{% endif %}
	</div>
</div>
{% load thumbnail %}
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<!-- Front Page Text -->
			<div class="front-page-about">
				<h1 class="front-page-heading">{{ page.title }}</h1>
				{{ page.body|safe }}
			</div>
			<!-- / Front page text -->
		</div>
		<!-- <div class="col-xs-12 col-md-4"> -->
			<!-- Building of the Week (but now its the month) -->
			<!--{% if page.building_of_the_week %}
			<h1 class="front-page-heading">Building of the Month</h1>
			<a href="{% url 'detail' page.building_of_the_week.id %}#images"><img src="{% thumbnail page.building_of_the_week.thumbnail 400x225 crop='0,0' %}" style="width: 100%;"></a>
			<h3><a href="{% url 'detail' page.building_of_the_week.id %}">{{ page.building_of_the_week }}</a></h3>
			<p class="lead">We don't know much about this building yet. Can you tell us something about its history?</p>
			<p class="lead"><a href="{% url 'ugc_choice' page.building_of_the_week.id %}">Contribute it here</a></p>
			{% if page.featured_similar|length > 0 %}
				<hr />
				<h4>Similar Places</h4>
				<ul class="list-unstyled">
				{% for building in page.featured_similar %}
					<li><a href="{% url 'detail' building.id %}">{{ building }}</a></li>
 				{% endfor %}
 				</ul>
			{% endif %}
			{% endif %}-->
			<!-- / Building of the Week -->
		<!--</div> -->
		<div class="col-xs-12 col-md-4">
			<h1 class="front-page-heading">Stories Wanted</h1>
			<div id="carousel-lost-properties" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner" role="listbox">
					{% for property in lost_properties %}
					<div class="item {% if forloop.first %}active{% endif %}">
						{{ property }}
						<img src="{% thumbnail property.file 400x225 crop='smart' %}" style="width: 100;" }}>
						<div class="carousel-caption">
							<p><a href="{% url 'detail' property.feature.id %}">{{ property.feature }}</a></p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<br />
			<p>There are many buildings in Whitechapel that we don't know anything about. If you know something, you can <a href="/accounts/login/">make an account</a> or use the form below to tell us.</p>
			<!-- Quick contribution -->
			<!-- <h2 class="front-page-heading">Quick Contribution</h2> -->
			<hr />
			<div class="quick-contribution">
				<form role="form" action="" method="post">
					<!--<p>If you'd rather not register with us, you can tell us your memories of Whitechapel using the form below</p>-->
					{% load crispy_forms_tags %}
					{% csrf_token %}
					{{ form|crispy }}
					{% load honeypot %}
	            	{% render_honeypot_field "phone_number" %}
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
			<!-- / Quick contribution -->
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<!-- Latest contributions  -->
			<h1 class="front-page-heading">Latest Submissions</h1>
			<div class="row">	
			{% for item in latest|slice:":3" %}
			{% if item.created != None %}
				{% if item.file %}
				<div class="col-xs-12 col-md-4">
					<a href="{% url 'detail' item.feature.id %}#images"><img src="{% thumbnail item.file 400x225 crop='0,0' %}" style="width: 100%;"></a>
					<h3><a href="{% url 'detail' item.feature.id %}#images">{{ item.title }}</a></h3>
					<h4 class="small"><a href="{% url 'detail' item.feature.id %}">{{ item.feature }}</a> | <a href="{% url 'all_content_by_author' item.author.id %}">{% if item.author.userprofile.display_name %}{{ item.author.userprofile.display_name }}{% else %}{{ item.author }}{% endif %}</a> | {{ item.created }}</h4>
					<p class="results-preview">{{ item.description|truncatewords_html:20|striptags }}</p>
					{% if item.weighted_tags|length > 0 %}
						{% for tag in item.weighted_tags %}
							<a href="{% url 'tag' tag.name %}" class="btn btn-default btn-xs tag">{{ tag.name }}</a> 
						{% endfor %}
					{% endif %}
				</div>
				{% else %}
				<div class="col-xs-12 col-md-4">
					<a href="{% url 'detail' item.feature.id %}#{{ item.document_type }}?{{ item.title|slugify }}"><img src="{% thumbnail item.feature.thumbnail 400x225 crop='0,0' %}" style="width: 100%;"></a>
					<h3><a href="{% url 'detail' item.feature.id %}#{{ item.document_type }}?{{ item.title|slugify }}">{{ item.title }}</a></h3>
					<h4 class="small"><a href="{% url 'detail' item.feature.id %}">{{ item.feature }}</a> | <a href="{% url 'all_content_by_author' item.author.id %}">{% if item.author.userprofile.display_name %}{{ item.author.userprofile.display_name }}{% else %}{{ item.author }}{% endif %}</a> | {{ item.created }}</h4>
					{% if item.body_processed %}
					<p class="results-preview">{{ item.body_processed|truncatewords_html:60|striptags }}</p>
					{% elif item.description %}
					<p class="results-preview">{{ item.description|truncatewords_html:60|striptags }}</p>
					{% endif %}
					{% if item.weighted_tags|length > 0 %}
						{% for tag in item.weighted_tags %}
							<a href="{% url 'tag' tag.name %}" class="btn btn-default btn-xs tag">{{ tag.name }}</a> 
						{% endfor %}
					{% endif %}
				</div>
				{% endif %}		
			{% endif %}
			{% endfor %}
			</div>
		</div><!-- / Latest contributions -->
	</div>
	<div class="row">
		<div class="col-xs-12">
			<!-- Help Movie -->
			<h1 class="front-page-heading">Browsing the Map</h1>
			<div class="embed-responsive embed-responsive-16by9">
				<iframe width="560" height="315" src="https://www.youtube.com/embed/q3A1ov8xoLc" frameborder="0" allowfullscreen></iframe>
			</div>
			<p class="lead">If you're not sure about how to get started, we've made a short video to give you a quick overview.</p>
			<!-- / Help Movie -->
		</div>
	</div>
	
	{% if categories %}
	<div class="row"><!-- Themes -->
		<div class="col-xs-12">
			<h1 class="front-page-heading">Explore Whitechapel</h1>
			<p class="lead">Not sure where to begin? Click on a theme to start uncovering Whitechapel's past. Sites are being tagged if they connect with certain overlapping aspects of Whitechapel's history, according to the thematic categories identified here.</p>
			<br />
		</div>
	</div>
	
	<div class="row themed-content">
		{% for category in categories %}	
		<div class="col-xs-12 col-md-3">
			<div>
				<a href="{% url 'map.views.category' category.id %}"><img src="{% thumbnail category.thumbnail 360x204 %}"></a>
				<p><a href="{% url 'map.views.category' category.id %}">{{ category.name }}</a></p>
			</div>
		</div>
		{% if forloop.counter|divisibleby:4 %}
		</div>
		<div class="row themed-content">
		{% endif %}
		{% endfor %}
	</div><!-- / Themes -->
	{% endif %}
</div><!-- / Container -->

{% endblock %}

